@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .NET 8</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    
    <!-- Bootstrap card -->
    <div class="card mt-4" style="width: 18rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">.NET 💜 Azure</h5>
            <p class="card-text">Build scalable, cloud-native apps with .NET and Azure.</p>
            <a href="https://azure.microsoft.com" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>
